---
import Layout from '../layouts/Layout.astro'
---
<Layout title='About 📖'>

<h1 class="mb-4 text-5xl tracking-yight font-extrabold text-white">about the project</h1>

<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400"> This project is a web page to show SpaceX lunches using asto </p>

</Layout>
