---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to SpaceX Launches 🚀">
	<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
	La pagina principal	
</p>
</Layout>

